json.json
[{"id":"4cacaa7f.a5d784","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"bac8354d.98e2b8","type":"function","z":"4cacaa7f.a5d784","name":"PreToken","func":"global.set(\"id\",msg.payload.id)\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"sg\",msg.payload.sg)\nglobal.set(\"al\",msg.payload.al)\nglobal.set(\"su\",msg.payload.su)\nglobal.set(\"rbc\",msg.payload.rbc)\nglobal.set(\"pc\",msg.payload.pc)\nglobal.set(\"pcc\",msg.payload.pcc)\nglobal.set(\"ba\",msg.payload.ba)\nglobal.set(\"bgr\",msg.payload.bgr)\nglobal.set(\"bu\",msg.payload.bu)\nglobal.set(\"sc\",msg.payload.sc)\nglobal.set(\"sod\",msg.payload.sod)\nglobal.set(\"pot\",msg.payload.pot)\nglobal.set(\"hemo\",msg.payload.hemo)\nglobal.set(\"pcv\",msg.payload.pcv)\nglobal.set(\"wc\",msg.payload.wc)\nglobal.set(\"rc\",msg.payload.rc)\nglobal.set(\"htn\",msg.payload.htn)\nglobal.set(\"dm\",msg.payload.dm)\nglobal.set(\"cad\",msg.payload.cad)\nglobal.set(\"appet\",msg.payload.appet)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"ane\",msg.payload.ane)\nvar apikey=\"Gcmo3eIs_Kde2E38O4f_YyARBhMBxlACiy41MxSABXtn\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":380,"wires":[["9b22dfd7.acd1c"]]},{"id":"9b22dfd7.acd1c","type":"http request","z":"4cacaa7f.a5d784","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":300,"wires":[["87a87a89.e787e8"]]},{"id":"583d5cf4.571014","type":"debug","z":"4cacaa7f.a5d784","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":280,"wires":[]},{"id":"87a87a89.e787e8","type":"function","z":"4cacaa7f.a5d784","name":"Pre Prediction","func":"var id = global.get('id')\nvar age = global.get('age')\nvar bp = global.get('bp')\nvar sg = global.get('sg')\nvar al = global.get('al')\nvar su = global.get('su')\nvar rbc = global.get('rbc')\nvar pc = global.get('pc')\nvar pcc = global.get('pcc')\nvar ba = global.get('ba')\nvar bgr = global.get('bgr')\nvar bu = global.get('bu')\nvar sc= global.get('sc')\nvar sod= global.get('sod')\nvar pot = global.get('pot')\nvar hemo= global.get('hemo')\nvar pcv= global.get('pcv')\nvar wc = global.get('wc')\nvar rc = global.get('rc')\nvar htn = global.get('htn')\nvar dm= global.get('dm')\nvar cad = global.get('cad')\nvar appet = global.get('appet')\nvar pe = global.get('pe')\nvar ane = global.get('ane')\nvar token=msg.payload.access_token\nvar instance_id=\"fbef25a3-ce14-410f-91c9-efce9508e8b6\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Id\",\"Age\",\"Bp\",\"Sg\",\"Al\",\"Su\",\"Rbc\",\"Pc\",\"Pcc\",\"Ba\",\"Bgr\",\"Bu\",\"Sc\",\"Sod\",\"Pot\",\"Hemo\",\"Pcv\",\"Wc\",\"Rc\",\"Htn\",\"Dm\",\"Cad\",\"Appet\",\"Pe\",\"Ane\"],\"values\": [[id,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":500,"y":460,"wires":[["c92a1c2d.b5815"]]},{"id":"c92a1c2d.b5815","type":"http request","z":"4cacaa7f.a5d784","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/5af4b763-1849-4a12-bfec-f9cb9d065061/predictions","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":340,"wires":[["497a6558.a5ba6c","583d5cf4.571014"]]},{"id":"4cd27a05.53a524","type":"ui_form","z":"4cacaa7f.a5d784","name":"","label":"","group":"d628c693.ba41c8","order":0,"width":0,"height":0,"options":[{"label":"id","value":"id","type":"number","required":false,"rows":null},{"label":"age","value":"age","type":"number","required":false,"rows":null},{"label":"bp","value":"bp","type":"number","required":false,"rows":null},{"label":"sg","value":"sg","type":"number","required":false,"rows":null},{"label":"al","value":"al","type":"number","required":false,"rows":null},{"label":"su","value":"su","type":"number","required":false,"rows":null},{"label":"rbc","value":"rbc","type":"text","required":false,"rows":null},{"label":"pc","value":"pc","type":"text","required":false,"rows":null},{"label":"pcc","value":"pcc","type":"text","required":false,"rows":null},{"label":"ba","value":"ba","type":"text","required":false,"rows":null},{"label":"bgr","value":"bgr","type":"number","required":false,"rows":null},{"label":"bu","value":"bu","type":"number","required":false,"rows":null},{"label":"sc","value":"sc","type":"number","required":false,"rows":null},{"label":"sod","value":"sod","type":"number","required":false,"rows":null},{"label":"pot","value":"pot","type":"number","required":false,"rows":null},{"label":"hemo","value":"hemo","type":"number","required":false,"rows":null},{"label":"pcv","value":"pcv","type":"number","required":false,"rows":null},{"label":"wc","value":"wc","type":"number","required":false,"rows":null},{"label":"rc","value":"rc","type":"number","required":false,"rows":null},{"label":"htn","value":"htn","type":"text","required":false,"rows":null},{"label":"dm","value":"dm","type":"text","required":false,"rows":null},{"label":"cad","value":"cad","type":"text","required":false,"rows":null},{"label":"appet","value":"appet","type":"text","required":false,"rows":null},{"label":"pe","value":"pe","type":"text","required":false,"rows":null},{"label":"ane","value":"ane","type":"text","required":false,"rows":null}],"formValue":{"id":"","age":"","bp":"","sg":"","al":"","su":"","rbc":"","pc":"","pcc":"","ba":"","bgr":"","bu":"","sc":"","sod":"","pot":"","hemo":"","pcv":"","wc":"","rc":"","htn":"","dm":"","cad":"","appet":"","pe":"","ane":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":260,"wires":[["bac8354d.98e2b8"]]},{"id":"ae5ff457.a14128","type":"ui_text","z":"4cacaa7f.a5d784","group":"d628c693.ba41c8","order":1,"width":0,"height":0,"name":"","label":"classification","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":80,"wires":[]},{"id":"497a6558.a5ba6c","type":"function","z":"4cacaa7f.a5d784","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":180,"wires":[["583d5cf4.571014","ae5ff457.a14128"]]},{"id":"d628c693.ba41c8","type":"ui_group","z":"","name":"Default","tab":"ca4928a1.cfc948","order":1,"disp":true,"width":"6","collapse":false},{"id":"ca4928a1.cfc948","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]